MuleSoft/Combined/.tooling-apps-cache/app/nd_financial/application.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <http:listener-config name="listener_8081" basePath="/api/retail">
        <http:listener-connection host="localhost" port="8014" />
    </http:listener-config>
    <apikit:config name="application-config" raml="application.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <http:request-config name="HTTP_Request_Configuration" doc:name="HTTP Request configuration" doc:id="339bb68a-3f08-45e9-8559-d80f7787f8b4" basePath="/api/application" >
		<http:request-connection host="localhost" port="8980" />
	</http:request-config>
	<flow name="application-main">
        <http:listener config-ref="listener_8081" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="application-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="application-console">
        <http:listener config-ref="listener_8081" path="/application/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="application-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\offer\(id):application\json:application-config">
        <http:request method="PUT" doc:name="Request" doc:id="3af91c48-23aa-4cff-ac40-09a65b52b8c4" config-ref="HTTP_Request_Configuration" path="/offer/{id}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	'id' : attributes.uriParams.id
}]]]></http:uri-params>
		</http:request>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="2c6ad804-db74-41fd-b9fe-08b9724a0c63">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "message":"Updated"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="put:\(id):application\json:application-config">
        <http:request method="PUT" doc:name="Request" doc:id="24a86492-c7d2-4999-8105-9c67ff5263c8" config-ref="HTTP_Request_Configuration" path="/{id}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	'id' : attributes.uriParams.id
}]]]></http:uri-params>
		</http:request>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="0d0eeb5b-96ab-4a9c-b071-85bec88392b8">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"Message": "Updated"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="put:\group\(id):application\json:application-config">
        <http:request method="PUT" doc:name="Request" doc:id="0781ec2f-b005-42d2-9059-b8f7722b709c" config-ref="HTTP_Request_Configuration" path="/group/{id}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	'id' : attributes.uriParams.id
}]]]></http:uri-params>
		</http:request>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="7eec59a4-370e-46aa-a599-d084d65a46c5">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "message": "Updated"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="put:\special\(id):application\json:application-config">
        <http:request method="PUT" doc:name="Request" doc:id="9cc52cdf-740b-4a8d-83b1-fddb60717c2c" config-ref="HTTP_Request_Configuration" path="/special/{id}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	'id' : attributes.uriParams.id
}]]]></http:uri-params>
		</http:request>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="754a3d85-74fb-433d-970e-bb3596ed3229">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "message": payload.id+" Updated"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\special\(id):application\json:application-config">
        <http:request method="DELETE" doc:name="Request" doc:id="19b99e5f-9c2b-4735-a325-c1f441767bd3" config-ref="HTTP_Request_Configuration" path="/special/{id}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	'id' : attributes.uriParams.id
}]]]></http:uri-params>
		</http:request>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "ef3a5a5c-e441-11e8-9f32-f2801f1b9fd1 marked for deletion": null
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\(id):application\json:application-config">
        <http:request method="DELETE" doc:name="Request" doc:id="9e032eab-be2f-480c-a2e3-cbb424007669" config-ref="HTTP_Request_Configuration" path="/{id}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	'id' : attributes.uriParams.id
}]]]></http:uri-params>
		</http:request>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "Could not resolve mapping": null
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\group\(id):application\json:application-config">
        <http:request method="DELETE" doc:name="Request" doc:id="58018e0f-9056-47ac-9f3a-8ff42b434d15" config-ref="HTTP_Request_Configuration" path="/group/{id}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	'id' : attributes.uriParams.id
}]]]></http:uri-params>
		</http:request>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "group updated": null
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\group:application-config">
        <http:request method="GET" doc:name="Request" doc:id="5525fb27-a1f2-4228-8c2a-f8610ffc957a" config-ref="HTTP_Request_Configuration" path="/group"/>
    </flow>
    <flow name="get:\offer:application-config">
        <http:request method="GET" doc:name="Request" doc:id="9543026b-bb33-42f8-8007-abb5bcff8a14" config-ref="HTTP_Request_Configuration" path="/offer"/>
    </flow>
    <flow name="get:\special:application-config">
        <http:request method="GET" doc:name="Request" doc:id="62048045-1556-474c-a06a-079f676be65c" config-ref="HTTP_Request_Configuration" path="/special"/>
    </flow>
    <flow name="get:\offer\user\(id):application-config">
        <http:request method="GET" doc:name="Request" doc:id="a93df44e-b128-46bb-8001-27d46c07713a" config-ref="HTTP_Request_Configuration" path="/offer/{id}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	'id' : attributes.uriParams.id
}]]]></http:uri-params>
		</http:request>
    </flow>
    <flow name="get:\special\(id):application-config">
        <http:request method="GET" doc:name="Request" doc:id="f54578ce-92ee-477b-9ea2-a08dadfe522c" config-ref="HTTP_Request_Configuration" path="/special/{id}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	'id' : attributes.uriParams.id
}]]]></http:uri-params>
		</http:request>
    </flow>
    <flow name="get:\group\(id):application-config">
		<http:request method="GET" doc:name="Request" doc:id="de42d6ef-a423-4509-ac36-60b45a959c2a" config-ref="HTTP_Request_Configuration" path="/group/{id}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	'id' : attributes.uriParams.id
}]]]></http:uri-params>
		</http:request>
    </flow>
    <flow name="get:\(id):application-config">
        <http:request method="GET" doc:name="Request" doc:id="7eea4474-9157-42ea-bae3-75b8819af6ec" config-ref="HTTP_Request_Configuration" path="/{id}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	'id' : attributes.uriParams.id
}]]]></http:uri-params>
		</http:request>
    </flow>
    <flow name="get:\offer\(id):application-config">
        <http:request method="GET" doc:name="Request" doc:id="1bbd0124-436e-4d9a-aff2-f5270ed063d3" config-ref="HTTP_Request_Configuration" path="/{id}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	'id' : attributes.uriParams.id
}]]]></http:uri-params>
		</http:request>
    </flow>
    <flow name="post:\:application\json:application-config">
        <http:request method="POST" doc:name="Request" doc:id="d6360f39-d362-49b8-8c3c-0f7a7f5637dc" config-ref="HTTP_Request_Configuration" path="/"/>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="361427e8-a63b-4f63-bf0d-8664286acfc9">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"message": payload.id
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\group:application\json:application-config">
        <http:request method="POST" doc:name="Request" doc:id="c3b4f8e2-69a9-4cd5-9bf7-4a78da78b672" config-ref="HTTP_Request_Configuration" path="/group"/>
		<ee:transform doc:name="Transform Message" doc:id="8c914740-79b1-499b-a685-e87c4e674831" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message":payload.id
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="post:\offer:application\json:application-config">
        <http:request method="POST" doc:name="Request" doc:id="534019bd-4f03-412a-9f13-c0a37ffd14ce" config-ref="HTTP_Request_Configuration" path="/offer"/>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="7007564e-c1d1-49f4-a940-1dc380f5f929">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"message":payload.id
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\special:application\json:application-config">
        <http:request method="POST" doc:name="Request" doc:id="78595909-3413-4241-ad58-36d9ce042368" config-ref="HTTP_Request_Configuration" path="/special"/>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="1626ae73-88f6-4219-b652-31bdd0e0be3c">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"message": payload.id
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
