Anypoint/vendorpayments/src/main/mule/vendorpayments.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:java="http://www.mulesoft.org/schema/mule/java" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd">
    <http:listener-config name="vendorpayments-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="vendorpayments-config" raml="vendorpayments.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <db:config name="Database_Config" doc:name="Database Config" doc:id="27052bdc-aada-406c-b818-16cae2d14035" >
		<db:oracle-connection host="192.168.56.105" user="ndadmin" password="password" instance="xe" />
	</db:config>
	<flow name="vendorpayments-main">
        <http:listener config-ref="vendorpayments-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="vendorpayments-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="vendorpayments-console">
        <http:listener config-ref="vendorpayments-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="vendorpayments-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\vendorPayments:vendorpayments-config">
		<set-variable value="a12" doc:name="Set Variable" doc:id="f9a43db2-f906-4a1e-975a-b9a5dd32d77f" variableName="id"/>
		<set-variable value="complete" doc:name="Set Variable" doc:id="c37abff2-38f6-4642-980e-2f00403e67c8" variableName="Stats"/>
		<logger level="INFO" message="in the Put" />
		<db:update doc:name="Update" doc:id="8e4cf980-0289-425a-8008-479b94b0a7ed" config-ref="Database_Config">
			<db:sql >update transactions set status = :stats where TRANSACTION_ID = :id</db:sql>
			<db:input-parameters ><![CDATA[#[{stats : vars.Stats, id : vars.id }]]]></db:input-parameters>
		</db:update>
    </flow>
    <flow name="get:\vendorPayments:vendorpayments-config">
        <set-variable value="1111 1111 1111 1111" doc:name="Set Variable" doc:id="610cc94a-3a29-4b27-b4bf-626a813f9c41" variableName="CardNumber"/>
		<logger level="INFO" message="in the get" />
		<db:select doc:name="Select" doc:id="872dab16-bce5-4f71-ac7b-e6e59a8bdf80" config-ref="Database_Config">
			<db:sql >select * from transactions where card_number = :cc</db:sql>
			<db:input-parameters ><![CDATA[#[{ cc : vars.CardNumber }]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="d2e63be0-1de9-42ab-a68b-6134826f4db0" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="post:\vendorPayments:vendorpayments-config">
		<logger level="INFO" message="#[payload.CARD_NUMBER]]" />
		<set-variable value="#[payload]" doc:name="Set Variable" doc:id="afb904bf-a994-48e9-bc02-b68b04eede75" variableName="FirstPayload"/>
		<set-variable value="#[payload.AMOUNT]" doc:name="Set Variable" doc:id="56fffc8b-9c94-4bc7-b7eb-b608729a845f" variableName="amount"/>
		<db:select doc:name="Select" doc:id="7240b144-ac97-431d-bbff-a1c5faed98d5" config-ref="Database_Config">
			<db:sql >select credit_line - balance as total from credit_cards where card_number = :number</db:sql>
			<db:input-parameters ><![CDATA[#[{ number : payload.CARD_NUMBER }]]]></db:input-parameters>
		</db:select>
		<logger level="INFO" doc:name="Logger" doc:id="5a9bab99-f396-4ec7-8d51-4ea7edd3896e" message="#[payload.TOTAL]"/>
		<choice doc:name="Choice" doc:id="d424f497-9ae5-458e-a3d2-7cf123e4d4f7" >
			<when expression="#[vars.amount &lt;= payload.TOTAL[0]]">
				<set-payload value="#[vars.FirstPayload]" doc:name="Set Payload" doc:id="4b041a0c-b881-4f3b-8117-fd0f2c620f97" />
				<db:insert doc:name="Insert" doc:id="40f82d6c-16b9-4112-8f41-55b973d42270" config-ref="Database_Config">
			<db:sql>insert into transactions values (:id, :date, :amount, :card_number, :trans_source, :trans_description, :status, :trans_type)

</db:sql>
			<db:input-parameters><![CDATA[#[{
	id : payload.TRANSACTION_ID, 
	date : payload.TRANSACTION_DATE as Date,
	amount : payload.AMOUNT as Number,
	card_number : payload.CARD_NUMBER,
	trans_source : payload.TRANS_SOURCE,
	trans_description : payload.TRANS_DESCRIPTION,
	status : payload.STATUS,
	trans_type : payload.TRANS_TYPE
}]]]></db:input-parameters>
		</db:insert>
			</when>
			<otherwise >
				<set-payload value="Not enough funds" doc:name="Set Payload" doc:id="f678abf8-acf0-4c14-a9ef-582c45112581" />
				<logger level="INFO" doc:name="Logger" doc:id="5b2b884a-360b-4927-aa6f-f2e282ce18ba" message="Payment declined"/>
			</otherwise>
		</choice>
    </flow>
</mule>
