MuleSoft/target/META-INF/mule-src/ndfinancials/Risk/risky2/src/main/mule/riskrec.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <http:listener-config name="riskrec-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="riskrec-config" raml="riskrec.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="riskrec-main">
        <http:listener config-ref="riskrec-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="riskrec-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="ce244a41-d4a3-4351-9b5f-d4d3e98c1650">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="e1fff489-6209-40a8-b52f-9fd880c31a15">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[415]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="04a19d5d-f7a0-4fe8-b773-8e25fe95c688">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[501]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="riskrec-console">
        <http:listener config-ref="riskrec-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="riskrec-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
	<flow name="post:\risk:application\json:riskrec-config">
        <logger level="INFO" message="post:\risk:application\json:riskrec-config" />
		<set-variable value='#[payload.borrower."loan-amt"]' doc:name="LoanAmt" doc:id="cb8cd264-dac0-41e5-aeee-810d642743eb" variableName="vLoanAmt" />
		<set-variable value='#[payload.borrower."loan-dur"]' doc:name="LoanDuration" doc:id="75471df1-f073-4663-82bf-78547616925e" variableName="vLoanDur" />
		<set-variable doc:name="LoanPerMonth" doc:id="5e90ff8b-5852-4afc-890c-97db16c29192" variableName="vLoanPerMonth" value="#[(vars.vLoanAmt) / (vars.vLoanDur)]"/>
		<set-variable value="#[12]" doc:name="Months" doc:id="b1985334-7e31-4f67-9adf-d7f6e790e237" variableName="vMonths"/>
		<set-variable value='#[payload.borrower."curr-income"]' doc:name="CurrentIncome" doc:id="b57dbde6-858f-4675-ad30-4cbae7c04db5" variableName="vCurrIncome" />
		<set-variable value="#[output application/java
---
vars.vCurrIncome / vars.vMonths]" doc:name="MonthlyIncome" doc:id="bff5db49-6f23-438f-a166-4b9d8c37f836" variableName="vMonthlyIncome"/>
		<set-variable value="#[output application/java
---
vars.vLoanPerMonth / vars.vMonthlyIncome]" doc:name="DebtPercent" doc:id="589e0d1b-427d-4c0d-9cb0-6b788752700f" variableName="vDebtPer"/>
		<set-variable value='#[payload.borrower."credit-score"]' doc:name="CreditScore" doc:id="1f4d589f-72b2-4039-a8ff-f1b59c280b15" variableName="vScore" />
		<set-variable value="#[output application/java
---
vars.vScore / vars.vDebtPer]" doc:name="Rough Number" doc:id="b69bca73-6c78-45b2-9dcf-f76c161e7652" variableName="vRough"/>
		<choice doc:name="Choice" doc:id="e3a9739c-0faa-441e-a2bb-a78ff73aa37b">
			<when expression="#[vars.vRough &gt; 400]">
				<set-variable value="#[1]" doc:name="RiskFactor" doc:id="853a2e4a-f282-413d-9ee4-ec44b9798356" variableName="vRiskFactor" />
			</when>
			<when expression="#[vars.vRough &gt; 250]">
				<set-variable value="#[2]" doc:name="RiskFactor" doc:id="7b700f34-b480-4592-b61a-b0d5ec798e94" variableName="vRiskFactor"/>
			</when>
			<when expression="#[vars.vRough &gt; 225]">
				<set-variable value="#[3]" doc:name="RiskFactor" doc:id="9cd0cfad-56c4-4361-a79a-5adb87c4f850" variableName="vRiskFactor"/>
			</when>
			<when expression="#[vars.vRough &gt; 180]" >
				<set-variable value="#[4]" doc:name="RiskFactor" doc:id="d8178306-500f-4c9b-a190-4b8f1eb6b0a5" variableName="vRiskFactor" />
			</when>
			<otherwise >
				<set-variable value="#[5]" doc:name="RiskFactor" doc:id="01b89165-77a8-49bf-8034-5644af7fafa7" variableName="vRiskFactor"/>
			</otherwise>
		</choice>
		<ee:transform doc:name="Transform Message" doc:id="d91b7ecc-ce53-4f36-a8d7-72c2be988133" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	minMuleVersion: vars.vRiskFactor as Number
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
</mule>
