Anypoint/Operations/src/main/mule/rewards.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <http:listener-config name="rewards-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8085" />
    </http:listener-config>
    <apikit:config name="rewards-config" raml="rewards.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <db:config name="Database_Config4" doc:name="Database Config" doc:id="f6429246-cb2b-4d94-8e16-f8b8aac8c3ab" >
		<db:oracle-connection host="192.168.56.105" user="ndadmin" password="password" instance="xe" />
	</db:config>
	<http:request-config name="HTTP_Request_configuration2" doc:name="HTTP Request configuration" doc:id="1af461c4-8b0f-4a15-a4f5-d83544fd4b2b" >
		<http:request-connection host="localhost" port="8085" />
	</http:request-config>
	<http:request-config name="HTTP_Request_configuration3" doc:name="HTTP Request configuration" doc:id="ed921da4-8bdf-49f6-a257-5b98343c56a1" >
		<http:request-connection host="localhost" port="8084" />
	</http:request-config>
	<http:request-config name="HTTP_Request_configuration4" doc:name="HTTP Request configuration" doc:id="8a3291bf-8215-42db-bf6d-d873c19ddc75" >
		<http:request-connection host="localhost" port="8085" />
	</http:request-config>
	<flow name="rewards-main">
        <http:listener config-ref="rewards-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="rewards-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="rewards-console">
        <http:listener config-ref="rewards-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="rewards-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\rewards:application\json:rewards-config">
		<logger level="INFO" message="put:\rewards:application\json:rewards-config" />
		<db:update doc:name="Update" doc:id="d9b6fa7e-8711-476d-b88e-214c95321ea2" config-ref="Database_Config">
			<db:sql >UPDATE credit_cards SET rewards = :rewards WHERE card_number = :cc</db:sql>
			<db:input-parameters ><![CDATA[#[{rewards : payload.reward, cc : payload.cardNumber}]]]></db:input-parameters>
		</db:update>
    </flow>
    <flow name="get:\rewards\(userID):rewards-config">
        <db:select doc:name="Select" doc:id="cd11c585-1b60-4b09-9da2-34b3167e156b" config-ref="Database_Config">
			<db:sql >SELECT * FROM credit_cards WHERE user_id = :id</db:sql>
			<db:input-parameters ><![CDATA[#[{id : message.attributes.uriParams.userID}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="cabab718-fac9-4f7f-864d-fd684a0a5033" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	cardNumber: payload.CARD_NUMBER,
	reward: payload.REWARDS default 0
}

]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="post:\rewards\payment:application\json:rewards-config">
        <logger level="INFO" message="post:\rewards\payment:application\json:rewards-config" />
		<set-variable value="#[payload.cardNumber]" doc:name="Set CC" doc:id="2b577a1b-d5d3-49e8-b946-7c4c229e8d54" variableName="accountNum"/>
		<http:request method="POST" doc:name="Request" doc:id="33c662b6-d065-4914-ab92-966ac514b8ff" config-ref="HTTP_Request_configuration2" path="/api/rewards" sendCorrelationId="ALWAYS">
			<http:body ><![CDATA[#[{
	"cardNumber" : payload.cardNumber
}]]]></http:body>
		</http:request>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="58800363-dfea-46b6-9894-be9d699c1be5" />
		<logger level="INFO" doc:name="Logger" doc:id="d02a710e-772f-4c87-b430-24ba4b1e2216" message="#[payload]"/>
		<http:request method="POST" doc:name="Request" doc:id="1afc2a89-880a-488f-bcbe-e61e4f3d3c9c" config-ref="HTTP_Request_configuration3" path="/api/payment">
			<http:body ><![CDATA[#[{
	"transactionID" : 53653,
	"date" : "2018-11-16",
	"amount" : payload.reward[0],
	"cardnumber" : payload.cardNumber[0],
	"source" : "rewards",
	"description" : "Payment from rewards",
	"status" : "approved",
	"Type" : "payment"
}]]]></http:body>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="07124ef3-13b4-47c1-83a8-c6e87a16c8a8" message="Payment Applied"/>
		<http:request method="PUT" doc:name="Request" doc:id="cc44b47a-69d7-461e-a812-c3eb7da5b067" config-ref="HTTP_Request_configuration4" path="/api/rewards">
			<http:body ><![CDATA[#[{
	"cardNumber": vars.accountNum,
	"reward": 0
}]]]></http:body>
		</http:request>
    </flow>
    <flow name="post:\rewards:application\json:rewards-config">
        <set-variable value="#[payload]" doc:name="Set Variable" doc:id="65cd8396-abbc-4ae7-89ae-0ea2da0f6634" variableName="payload"/>
		<logger level="INFO" doc:name="Logger" doc:id="0bb138ac-0830-41ed-9756-39614ccb8f57" message="#[vars.payload]"/>
		<db:select doc:name="Select" doc:id="bd25115b-08aa-4402-9849-64e49da8dbfe" config-ref="Database_Config">
			<db:sql >SELECT * FROM credit_cards WHERE card_number = :cc</db:sql>
			<db:input-parameters ><![CDATA[#[{cc : payload.cardNumber}]]]></db:input-parameters>
		</db:select>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd 
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="daaf74f5-91dd-45fa-9541-708134aeba25">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	cardNumber: payload.CARD_NUMBER,
	reward: payload.REWARDS default 0
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
