MuleSoft/target/META-INF/mule-src/ndfinancials/creditscore/src/main/mule/creditscore.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
    <http:listener-config name="creditscore-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="creditscore-config" raml="creditscore.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <db:config name="Database_Config" doc:name="Database Config" doc:id="aab680b1-7280-41a4-8832-14a79ead2607" >
		<db:oracle-connection host="192.168.56.105" user="proj3risk" password="pass" instance="xe" />
	</db:config>
	<flow name="creditscore-main">
        <http:listener config-ref="creditscore-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="creditscore-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="creditscore-console">
        <http:listener config-ref="creditscore-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="creditscore-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\getcreditscore:creditscore-config">
        <logger level="INFO" message="get:\getcreditscore:creditscore-config" />
        <set-variable value='#[%dw 2.0
output application/java
---
attributes.queryParams."customer-id" as Number]' doc:name="Customer ID" doc:id="8b347e71-0d5f-4b4b-904a-45c10cc97e18" variableName="custID"/>
		<db:select doc:name="Select" doc:id="9aa5f093-7f19-4a4a-86b1-d4cbb2bfd787" config-ref="Database_Config">
			<db:sql >SELECT * FROM CREDITSCORE WHERE CUSTOMER_ID = :id</db:sql>
			<db:input-parameters ><![CDATA[#[%dw 2.0
output application/java
---
{
	id: attributes.queryParams."customer-id"
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="85d08c88-2144-44c6-809d-af62ebb46a0a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"customer-id": payload.CUSTOMER_ID[0],
	"credit-score": payload.CREDIT_SCORE[0]
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="post:\getcreditscore:application\json:creditscore-config">
        <logger level="INFO" message="post:\getcreditscore:application\json:creditscore-config" />
		<set-variable value='#[%dw 2.0
output application/java
---
payload.user."customer-id" as Number]' doc:name="Customer ID" doc:id="1b0da8bc-e8f3-4e4a-8724-fe5fc9589173" variableName="custID"/>
		<set-variable value="#[0]" doc:name="Credit Score" doc:id="aeafbb12-84bc-4032-9fa9-f3ddb61e3c64" variableName="Score"/>
		<set-variable value="#[%dw 2.0
output application/java
---
payload.user.age]" doc:name="Age" doc:id="05ae2bdb-b323-4330-965a-78264bf75cd0" variableName="Age"/>
		<choice doc:name="Age Choice" doc:id="c41eb0a6-9eb0-4cad-958e-ad03bbd3b6ef" >
			<when expression="#[vars.Age &lt;= 18]">
				<logger level="INFO" doc:name="Logger" doc:id="b7991124-e1fa-48fd-9387-4f065fe56e58" message="Age is 18 or less"/>
				<set-variable value="#[vars.Score + (20 * 0.25)]" doc:name="Credit Score" doc:id="8dd6b33e-b8da-42d6-903a-140d6df5a1b4" variableName="Score"/>
			</when>
			<when expression="#[vars.Age &gt; 18 and vars.Age &lt; 25]">
				<logger level="INFO" doc:name="Logger" doc:id="03fdba44-ef85-4986-ab4b-0b14bec9cd35" message="Age is between 19 and 24"/>
				<set-variable value="#[vars.Score + (30 * 0.25)]" doc:name="Credit Score" doc:id="8a05b40c-a5c1-4e2a-9f84-eb471d2bd3f1" variableName="Score"/>
			</when>
			<when expression="#[vars.Age &gt; 24 and vars.Age &lt; 31]">
				<logger level="INFO" doc:name="Logger" doc:id="2396cebb-659d-4372-a2cb-24c2fd7ee3f5" message="Age is between 25 and 30"/>
				<set-variable value="#[vars.Score + (40 * 0.25)]" doc:name="Credit Score" doc:id="e9ce77ce-35ff-4b73-a1d0-0c637e659005" variableName="Score"/>
			</when>
			<when expression="#[vars.Age &gt; 30 and vars.Age &lt; 46]">
				<logger level="INFO" doc:name="Logger" doc:id="eb1150d1-d11a-47a7-9fb1-266896a35f3e" message="Age is between 30 and 45"/>
				<set-variable value="#[vars.Score + (50 * 0.25)]" doc:name="Credit Score" doc:id="38bde175-3c48-46d8-9716-2756816371e3" variableName="Score"/>
			</when>
			<when expression="#[vars.Age &gt; 45]">
				<logger level="INFO" doc:name="Logger" doc:id="74cb6794-d113-49cf-b32b-d5708db994d0" message="Age is 46 and above"/>
				<set-variable value="#[vars.Score + (45 * 0.25)]" doc:name="Credit Score" doc:id="6d70f453-eba9-40b5-92e9-b165d7903a94" variableName="Score"/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="8a21c4cd-c679-418e-9771-f0a69cdf3283" message="Invalid Age"/>
			</otherwise>
		</choice>
		<set-variable value='#[%dw 2.0
output application/java
---
payload.user.occupation."annual-income" as String]' doc:name="Income" doc:id="8572dbe9-d85c-4d0e-98fa-7400846e0e60" variableName="Income"/>
		<set-variable value='#[%dw 2.0
output application/java
---
payload.user.occupation."job-term"]' doc:name="Job Term" doc:id="f00f867f-47e9-4ec0-8051-0d502a9db099" variableName="Term"/>
		<choice doc:name="Job Choice" doc:id="434af0eb-f34a-4f42-8166-b09dc519db81" >
			<when expression="#[vars.Income &lt; 30000]">
				<logger level="INFO" doc:name="Logger" doc:id="2e054408-707b-420e-8dfc-576d0f21df26" message="Income less than 30,000"/>
				<choice doc:name="Term Choice" doc:id="a8d9b8fb-5f4a-4265-b1a7-6952d3233e37" >
					<when expression='#[vars.Term == "part-time"]'>
						<logger level="INFO" doc:name="Logger" doc:id="d4080d9c-1a80-4f2f-8dde-83eaaa042763" message="Part-Time Worker"/>
						<set-variable value="#[vars.Score + (0.25 * 20)]" doc:name="Credit Score" doc:id="34962bb5-19df-4f22-a2ff-ce28563a727b" variableName="Score"/>
				
					</when>
					<when expression='#[vars.Term == "full-time"]'>
						<logger level="INFO" doc:name="Logger" doc:id="bf3aa6a9-b6cf-42df-b01f-85fc6f4fca5c" message="Full-Time Worker"/>
						<set-variable value="#[vars.Score + (0.25 * 30)]" doc:name="Credit Score" doc:id="147aa7e2-077c-43ea-8d2e-92b72ca13a8f" variableName="Score"/>
						
					</when>
					<otherwise >
						<logger level="INFO" doc:name="Logger" doc:id="5714809c-95d5-40b1-98fd-68bce7d94021" message="Invalid Job Term"/>
					</otherwise>
				</choice>
				
			</when>
			<when expression="#[vars.Income &gt;= 30000 and vars.Income &lt; 50000]">
				<logger level="INFO" doc:name="Logger" doc:id="5f8070c1-06c2-4239-a5f9-80f289da6f44" message="Income between 30k and 50k"/>
				<choice doc:name="Term Choice" doc:id="7fe9837e-0331-49bf-8e4c-14077463eb50" >
					<when expression='#[vars.Term == "part-time"]'>
						<logger level="INFO" doc:name="Logger" doc:id="6e873b23-0cb6-4618-bd32-d87caf9998af" message="Part-Time Worker"/>
						<set-variable value="#[vars.Score + (0.25 * 40)]" doc:name="Credit Score" doc:id="c7867bc2-2e06-4e32-a284-9e60db25a375" variableName="Score"/>
					</when>
					<when expression='#[vars.Term == "full-time"]'>
						<logger level="INFO" doc:name="Logger" doc:id="b4df13dd-cc49-46f5-92f2-5e0be7930205" message="Full-Time Worker"/>
						<set-variable value="#[vars.Score + (0.25 * 50)]" doc:name="Credit Score" doc:id="dd84fc0a-b8c0-415b-a346-6451412b3286" variableName="Score"/>
				
					</when>
					<otherwise >
						<logger level="INFO" doc:name="Logger" doc:id="09068a9f-02b3-4085-a99c-6907b4f3fae3" message="Invalid Job Term"/>
					</otherwise>
				</choice>
			</when>
			<when expression="#[vars.Income &gt;= 50000 and vars.Income &lt; 75000]">
				<logger level="INFO" doc:name="Logger" doc:id="436fbbf2-2222-41cc-9f73-db7f703a183a" message="Income between 50k and 75k"/>
				<choice doc:name="Term Choice" doc:id="8a86777c-e726-48b3-864e-1cb9a281e0fa" >
					<when expression='#[vars.Term == "part-time"]'>
						<logger level="INFO" doc:name="Logger" doc:id="35755a1c-267d-4ee8-9c3a-2f1f5269128c" message="Part-Time Worker"/>
						<set-variable value="#[vars.Score + (0.25 * 45)]" doc:name="Credit Score" doc:id="ee13fade-8ab3-4ab3-bb05-56e8e1112a92" variableName="Score"/>
				
					</when>
					<when expression='#[vars.Term == "full-time"]'>
						<logger level="INFO" doc:name="Logger" doc:id="4c226e47-0a7d-47bb-9d9e-527f0233821d" message="Full-Time Worker"/>
						<set-variable value="#[vars.Score + (0.25*60)]" doc:name="Credit Score" doc:id="efaf9093-371a-467e-b2d5-6873aada8a39" variableName="Score"/>
				
					</when>
					<otherwise >
						<logger level="INFO" doc:name="Logger" doc:id="38936fcd-7baf-414d-9fef-38861299861d" message="Invalid Job Term"/>
					</otherwise>
				</choice>
			</when>
			<when expression="#[vars.Income &gt;= 75000 and vars.Income &lt; 90000]">
				<logger level="INFO" doc:name="Logger" doc:id="37035396-1cca-4972-8203-320f4aecf362" message="Income between 75k and 90k"/>
				<choice doc:name="Term Choice" doc:id="34f1f6b3-107e-4e2e-b425-3ba9b303e487" >
					<when expression='#[vars.Term == "part-time"]'>
						<logger level="INFO" doc:name="Logger" doc:id="822f34a1-117e-4a2d-a836-9eaf0141d833" message="Part-Time Worker"/>
						<set-variable value="#[vars.Score + (0.25*55)]" doc:name="Credit Score" doc:id="aaf41932-c6c2-488d-8e7f-1a06c7c2eb1c" variableName="Score"/>
				
					</when>
					<when expression='#[vars.Term == "full-time"]'>
						<logger level="INFO" doc:name="Logger" doc:id="58191929-c3c3-43e2-abbf-ab84ce4ee403" message="Full-Time Worker"/>
						<set-variable value="#[vars.Score + (0.25*70)]" doc:name="Credit Score" doc:id="daa12ec0-7ff8-4252-a9b5-4b13341d2829" variableName="Score"/>
				
					</when>
					<otherwise >
						<logger level="INFO" doc:name="Logger" doc:id="d55cda4e-b381-462a-b1cc-64206d6b3d2b" message="Invalid Job Term"/>
					</otherwise>
				</choice>
			</when>
			<when expression="#[vars.Income &gt;= 90000]">
				<logger level="INFO" doc:name="Logger" doc:id="15a7a5e7-4126-4b24-8865-755dbe882460" message="Income greater than 90k"/>
				<set-variable value="#[vars.Score + (0.25 * 80)]" doc:name="Credit Score" doc:id="3cd5f8b4-2c5d-4765-a2f8-f6c1fc16de09" variableName="Score"/>
			</when>
			<otherwise >
				<logger level="ERROR" doc:name="Logger" doc:id="f214ffd5-c997-430f-a4f6-8e9a48db1888" message="Invalid Income"/>
			</otherwise>
		</choice>
		<set-variable value='#[%dw 2.0
output application/java
---
payload."account-history"."credit-cards"."total-cards" as Number]' doc:name="Credit Card Total" doc:id="116ce6f3-cf35-4134-bd89-40b5c466ebde" variableName="CTotal"/>
		<choice doc:name="Credit Existance" doc:id="8095edf2-8cf2-42a6-899c-d7ae745ef39f" >
			<when expression='#[vars.CTotal &gt; 0]'>
				<set-variable value='#[%dw 2.0
output application/java
---
payload."account-history"."credit-cards"."total-balance"]' doc:name="Credit Card Balance" doc:id="599aff4f-8a52-439c-9681-c568864b7307" variableName="CCBalance" />
				<set-variable value='#[%dw 2.0
output application/java
---
vars.CCBalance / payload."account-history"."credit-cards"."total-cards"]' doc:name="Credit Card Debt" doc:id="d14c368d-f6b8-414b-bcbf-56370eff4f6a" variableName="CCDebt" />
				<choice doc:name="Credit Card Debt" doc:id="ab184d22-e95f-4b01-8399-2e20a0a321fa">
			<when expression="#[vars.CCDebt == 0]">
				<logger level="INFO" doc:name="Logger" doc:id="3da2dc7f-3d76-4cb5-b8c9-0ae5d07161c1" message="0 Debt" />
				<set-variable value="#[vars.Score + (60 * 0.20)]" doc:name="Credit Score" doc:id="8e1d0433-3919-4dd7-8f42-ecf1f8c78273" variableName="Score" />
				
			</when>
			<when expression="#[vars.CCDebt &gt; 0 and vars.CCDebt &lt; 100]">
				<logger level="INFO" doc:name="Logger" doc:id="5bbb0249-47f8-45bd-aaae-ca6016d1e5ab" message="Debt is between 1 and 99" />
				<set-variable value="#[vars.Score + (80 * 0.20)]" doc:name="Credit Score" doc:id="bfba8c87-9b85-48aa-816f-46cb8e343380" variableName="Score" />
				
			</when>
			<when expression="#[vars.CCDebt &gt; 99 and vars.CCDebt &lt; 500]">
				<logger level="INFO" doc:name="Logger" doc:id="d936ac2b-cd84-4cd2-9dfc-0046580c8c19" message="Debt is between 100 and 499" />
				<set-variable value="#[vars.Score + (70 * 0.20)]" doc:name="Credit Score" doc:id="2624f946-560f-4bda-abd9-fa3ac383d9d9" variableName="Score" />
				
			</when>
			<when expression="#[vars.CCDebt &gt; 499 and vars.CCDebt &lt; 750]">
				<logger level="INFO" doc:name="Logger" doc:id="8a18915d-714a-44be-a2af-0eae40500a67" message="Debt is between 500 and 749" />
				<set-variable value="#[vars.Score + (50 * 0.20)]" doc:name="Credit Score" doc:id="9def6fcf-2ddf-485b-8643-f5a5fda2dfe9" variableName="Score" />
				
			</when>
			<when expression="#[vars.CCDebt &gt; 749 and vars.CCDebt &lt; 1000]">
				<logger level="INFO" doc:name="Logger" doc:id="c7adc3a4-cc34-4487-9f85-372991dfc2c2" message="Debt is between 750 and 999" />
				<set-variable value="#[vars.Score + (40 * 0.20)]" doc:name="Credit Score" doc:id="7ab0de5c-6a02-4404-ad30-700deb253bc7" variableName="Score" />
				
			</when>
			<when expression="#[vars.CCDebt &gt;= 1000]">
				<logger level="INFO" doc:name="Logger" doc:id="d820d05b-2579-4e1e-97d1-e17478a30f46" message="Debt is greater than 1000" />
				<set-variable value="#[vars.Score + (20 * 0.20)]" doc:name="Credit Score" doc:id="123584f0-bc5e-492b-8843-861b17266da8" variableName="Score" />
				
			</when>
					<otherwise>
				<logger level="ERROR" doc:name="Logger" doc:id="526702c1-be92-4d5e-8051-13da6c385b54" message="Invalid Debt" />
			</otherwise>
		</choice>
				<set-variable value='#[%dw 2.0
output application/java
---
payload."account-history"."credit-cards".payments."total-late" / payload."account-history"."credit-cards".payments.total as Number]' doc:name="Credit Card Payments" doc:id="9a22bb32-51f3-4521-8796-d83e55476e34" variableName="CCPayments" />
				<choice doc:name="Credit Card Payments" doc:id="06062db0-47f5-4406-9b42-5c73dcb009a0">
			<when expression="#[vars.CCPayments &lt;= 0.05]">
				<logger level="INFO" doc:name="Logger" doc:id="d89b75bf-b41c-493f-a590-f86b9c40c187" message="Payment percent is less than 5%" />
				<set-variable value="#[vars.Score + (75 * 0.25)]" doc:name="Credit Score" doc:id="07663d31-6dd2-4c9d-a6c4-b451fbb8f1c1" variableName="Score" />
				
			</when>
			<when expression="#[vars.CCPayments &gt; 0.05 and vars.CCPayments &lt;= 0.10]">
				<logger level="INFO" doc:name="Logger" doc:id="e15b1a33-d54b-4a2b-9300-bc84cb86fbb5" message="Payment percent is between 5% and 10%" />
				<set-variable value="#[vars.Score + (65 * 0.25)]" doc:name="Credit Score" doc:id="467ef5fe-1cea-4fcb-b8de-ae6e487c329a" variableName="Score" />
				
			</when>
			<when expression="#[vars.CCPayments &gt; 0.10 and vars.CCPayments &lt;= 0.25]">
				<logger level="INFO" doc:name="Logger" doc:id="41396c04-f73a-4f10-bac2-1a38aa5d3194" message="Payment percent is between 10% and 25%" />
				<set-variable value="#[vars.Score + (50 * 0.25)]" doc:name="Credit Score" doc:id="4d04fc7c-31f6-42c3-8ae8-38db0e2969ba" variableName="Score" />
				
			</when>
			<when expression="#[vars.CCPayments &gt; 0.25 and vars.CCPayments &lt;= 0.50]">
				<logger level="INFO" doc:name="Logger" doc:id="5b89dea1-3350-45c4-b468-ff6cac39f171" message="Payment percent is between 25% and 50%" />
				<set-variable value="#[vars.Score + (35 * 0.25)]" doc:name="Credit Score" doc:id="ecb8856e-4ebd-4ebc-9c3c-48425cc1e707" variableName="Score" />
				
			</when>
			<when expression="#[vars.CCPayments &gt; 0.50 and vars.CCPayments &lt;= 0.75]">
				<logger level="INFO" doc:name="Logger" doc:id="285b1301-8ed9-47ad-bfdf-c16c8417cb0f" message="Payment percent is between 50% and 75%" />
				<set-variable value="#[vars.Score + (20 * 0.25)]" doc:name="Credit Score" doc:id="3c06baf5-5ef3-412d-96f2-c3248ce0296a" variableName="Score" />
				
			</when>
			<when expression="#[vars.CCPayments &gt; 0.75]">
				<logger level="INFO" doc:name="Logger" doc:id="cb2a9966-4831-4cfc-963d-cf22cc0d5f16" message="Payment percent is above 75%" />
				<set-variable value="#[vars.Score + (10 * 0.25)]" doc:name="Credit Score" doc:id="25bbe8b7-4158-4ca7-a368-4706a9f1f695" variableName="Score" />
				
			</when>
			<otherwise>
				<logger level="ERROR" doc:name="Logger" doc:id="dc8fbb47-1edc-47dc-89d7-d80ade8fae3a" message="Invalid payment percentage" />
			</otherwise>
		</choice>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="1b03aabe-4db5-478e-b49f-ed5094578aff" message="Base value since no credit card"/>
				<set-variable value="#[vars.Score + 20]" doc:name="Credit Score" doc:id="33928ef1-6fee-43d0-b7a3-e446bacb137e" variableName="Score"/>
			</otherwise>
		</choice>
		<set-variable value='#[%dw 2.0
output application/java
---
payload."account-history".loans."total-loans" as Number]' doc:name="Loan Total" doc:id="6b86dfa9-e698-4261-af44-5b9dd3013c89" variableName="LTotal"/>
		<choice doc:name="Loan Calculation" doc:id="e3af5218-e7d8-45b9-b73d-294a11dc61c8" >
			<when expression="#[vars.LTotal &gt; 0]">
				<set-variable value='#[%dw 2.0
output application/java
---
payload."account-history".loans."total-principle"]' doc:name="Loan Principle" doc:id="9456a357-8126-4ccc-b9eb-1a14ca657256" variableName="LPrinciple" />
				<set-variable value='#[%dw 2.0
output application/java
---
payload."account-history".loans."total-balance" / vars.LPrinciple as Number]' doc:name="Loan Balance Div by Principle" doc:id="445bc7d6-ac0e-4b35-aefc-8f5a275cd169" variableName="LBalance" />
				<set-variable value='#[%dw 2.0
output application/java
---
vars.LBalance / payload."account-history".loans."total-loans" as Number]' doc:name="Loan Debt" doc:id="df2f0582-81bd-4b68-8ee7-d75cb03bc24e" variableName="LDebt" />
				<choice doc:name="Loan Debt" doc:id="cf40931d-caf2-4866-bb74-b67f94f6ec0d">
			<when expression="#[vars.LDebt &lt;= 0.10]">
				<logger level="INFO" doc:name="Logger" doc:id="8b87eb20-b302-4278-be00-d5965fe343e4" message="Loan debt percentage is less than 10%" />
				<set-variable value="#[vars.Score + (60 * 0.15)]" doc:name="Credit Score" doc:id="b41b7e92-9523-4e6d-9fb9-9ce2e2590faf" variableName="Score" />
				
			</when>
			<when expression="#[vars.LDebt &gt; 0.10 and vars.LDebt &lt;= 0.25]">
				<logger level="INFO" doc:name="Logger" doc:id="0f37cee5-6985-4142-ac69-4200e0af918f" message="Loan debt percentage is between 10% and 25%" />
				<set-variable value="#[vars.Score + (55 * 0.15)]" doc:name="Credit Score" doc:id="4e0aa4c6-3d92-4d3f-bab1-f0084c24e15f" variableName="Score" />
				
			</when>
			<when expression="#[vars.LDebt &gt; 0.25 and vars.LDebt &lt;= 0.50]">
				<logger level="INFO" doc:name="Logger" doc:id="885da9b9-61c3-41f6-8083-c493232df532" message="Loan debt percentage is between 25% and 50%" />
				<set-variable value="#[vars.Score + (45 * 0.15)]" doc:name="Credit Score" doc:id="54a2b90b-ce96-47da-a199-d47d51ec950c" variableName="Score" />
				
			</when>
			<when expression="#[vars.LDebt &gt; 0.50 and vars.LDebt &lt;= 0.75]">
				<logger level="INFO" doc:name="Logger" doc:id="a2d7e1de-e82b-45c3-bd98-9064ae7e5956" message="Loan debt percentage is between 50% and 75%" />
				<set-variable value="#[vars.Score + (35 * 0.15)]" doc:name="Credit Score" doc:id="cf8248a1-5d62-4e41-b69b-3cc9d3bac1c1" variableName="Score" />
				
			</when>
			<when expression="#[vars.LDebt &gt; 0.75 and vars.LDebt &lt;= 0.90]">
				<logger level="INFO" doc:name="Logger" doc:id="0c1de357-38b6-4a53-aad4-ca7b78fa1095" message="Loan debt percentage is between 75% and 90%" />
				<set-variable value="#[vars.Score + (25 * 0.15)]" doc:name="Credit Score" doc:id="2d990ad8-16d2-4a9d-9078-5c3001e2f340" variableName="Score" />
				
			</when>
			<when expression="#[vars.LDebt &gt; 0.90]">
				<logger level="INFO" doc:name="Logger" doc:id="b5b5e59d-b7e5-4b47-acc8-36260d84fa77" message="Loan debt percentage is greater than 90%" />
				<set-variable value="#[vars.Score + (10 * 0.15)]" doc:name="Credit Score" doc:id="0b4b5bb9-2446-44f8-9c3e-3c88357eeccd" variableName="Score" />
			</when>
			<otherwise>
				<logger level="INFO" doc:name="Logger" doc:id="1830d6bb-e388-492e-8914-7b53ce98ee85" message="Invalid Loan Debt" />
			</otherwise>
		</choice>
				<set-variable value='#[%dw 2.0
output application/java
---
payload."account-history".loans.payments."total-late" / payload."account-history".loans.payments.total as Number]' doc:name="Loan Payments" doc:id="aad911c7-a426-4608-b17a-3f0185f25ed0" variableName="LoanPayments" />
				<choice doc:name="Loan Payments" doc:id="a86b2918-3ebe-4c48-aabd-b45609bc732f">
			<when expression="#[vars.LoanPayments &lt;= 0.05]">
				<logger level="INFO" doc:name="Logger" doc:id="865d14e2-d477-41a9-abe7-92f8ba5f262e" message="Payment percent is less than 5%" />
				<set-variable value="#[vars.Score + (75 * 0.15)]" doc:name="Credit Score" doc:id="791cc105-e7ad-42e7-a243-977566c02c37" variableName="Score" />
				
			</when>
			<when expression="#[vars.LoanPayments &gt; 0.05 and vars.LoanPayments &lt;= 0.10]">
				<logger level="INFO" doc:name="Logger" doc:id="30c22f2e-4a0a-4bbe-b530-d8b968765dfe" message="Payment percent is between 5% and 10%" />
				<set-variable value="#[vars.Score + (65 * 0.15)]" doc:name="Credit Score" doc:id="04c1ca25-19c0-499d-ab2c-6108a6cfd3ef" variableName="Score" />
				
			</when>
			<when expression="#[vars.LoanPayments &gt; 0.10 and vars.LoanPayments &lt;= 0.25]">
				<logger level="INFO" doc:name="Logger" doc:id="a8479074-2a6e-4d3f-970f-eaa7b07616e4" message="Payment percent is between 10% and 25%" />
				<set-variable value="#[vars.Score + (50 * 0.15)]" doc:name="Credit Score" doc:id="7098752a-5f9a-4b4b-b3e9-e1f40fa56106" variableName="Score" />
				
			</when>
			<when expression="#[vars.LoanPayments &gt; 0.25 and vars.LoanPayments &lt;= 0.50]">
				<logger level="INFO" doc:name="Logger" doc:id="965bc1ba-4d09-4e88-ba3a-b8549435d1fb" message="Payment percent is between 25% and 50%" />
				<set-variable value="#[vars.Score + (35 * 0.15)]" doc:name="Credit Score" doc:id="8807026b-8885-49ec-8964-3ff3c80ae32a" variableName="Score" />
				
			</when>
			<when expression="#[vars.LoanPayments &gt; 0.50 and vars.LoanPayments &lt;= 0.75]">
				<logger level="INFO" doc:name="Logger" doc:id="790836c3-818e-4da9-a28d-c82d558f2545" message="Payment percent is between 50% and 75%" />
				<set-variable value="#[vars.Score + (20 * 0.15)]" doc:name="Credit Score" doc:id="41cbd94b-7fa1-4b50-811d-c5afe9f5cd7e" variableName="Score" />
				
			</when>
			<when expression="#[vars.LoanPayments &gt; 0.75]">
				<logger level="INFO" doc:name="Logger" doc:id="bc0f2bb2-6f25-42a8-89f1-1dd2fbbe1120" message="Payment percent is above 75%" />
				<set-variable value="#[vars.Score + (10 * 0.15)]" doc:name="Credit Score" doc:id="abd6448e-d5ee-423f-9e66-65a3c9f44ce1" variableName="Score" />
				
			</when>
			<otherwise>
				<logger level="ERROR" doc:name="Logger" doc:id="1c323c4c-767b-46d3-b233-53d0df462eb0" message="Invalid payment percentage" />
			</otherwise>
		</choice>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="235b25b0-6fdb-4745-9479-b60c7521886b" message="No Loans made. Using default value" />
				<set-variable value="#[vars.Score + 10]" doc:name="Credit Score" doc:id="1133eb83-464e-485c-a9fc-9bdb5676e486" variableName="Score"/>
			</otherwise>
		</choice>
		<set-variable value='#[%dw 2.0
output application/json
---
{
	"customer-id": payload.user."customer-id",
	"credit-score": vars.Score
}]' doc:name="Output" doc:id="7b0155a0-0f6e-451d-ba84-da401744fdbf" variableName="Output"/>
		<db:select doc:name="Select" doc:id="593284fa-a233-4c47-b9ea-d401e0d6eb01" config-ref="Database_Config">
			<db:sql >SELECT CUSTOMER_ID FROM CREDITSCORE WHERE CUSTOMER_ID = :id</db:sql>
			<db:input-parameters ><![CDATA[#[%dw 2.0
output application/java
---
{
	id: payload.user."customer-id"
}]]]></db:input-parameters>
		</db:select>
		<set-variable value="#[%dw 2.0
output application/java
---
payload.CUSTOMER_ID[0] as Number]" doc:name="Database CustID" doc:id="ab60561e-f2bf-4920-b1df-acbecf5d5fc6" variableName="DCID"/>
		<choice doc:name="Choice" doc:id="db1c95d4-28f8-4961-90d9-c50b7b54e36d" >
			<when expression="#[vars.custID ~= vars.DCID]">
				<logger level="INFO" doc:name="Logger" doc:id="67b75bc0-fe8f-4889-b786-d1ed5e71d904" message="Updating credit score..." />
				<db:update doc:name="Update" doc:id="f4d276db-feae-429e-b356-09ee85c9417e" config-ref="Database_Config">
					<db:sql>UPDATE CREDITSCORE SET CREDIT_SCORE = :score WHERE CUSTOMER_ID = :id</db:sql>
					<db:input-parameters><![CDATA[#[%dw 2.0
output application/java
---
{
	score: vars.Score,
	id: vars.DCID
}]]]></db:input-parameters>
				</db:update>
				<set-payload value="#[vars.Output]" doc:name="Output" doc:id="5011664a-86c4-4d35-9b78-6859441933d5" mimeType="application/json" />
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="1b813ca6-a1d3-4d6c-b03b-15c1a2e9d836" message="Inserting credit score... #[payload.CUSTOMER_ID] #[vars.custID]"/>
				<db:insert doc:name="Insert" doc:id="bcd78984-8d5a-4d1a-9bfd-252aa0500783" config-ref="Database_Config">
					<db:sql >INSERT INTO CREDITSCORE VALUES(:id, :score)</db:sql>
					<db:input-parameters ><![CDATA[#[%dw 2.0
output application/java
---
{
	score: vars.Score,
	id: vars.custID
}]]]></db:input-parameters>
				</db:insert>
				<set-payload value="#[vars.Output]" doc:name="Output" doc:id="a3467835-b363-4a39-8746-a04194ecf2e2" />
			</otherwise>
		</choice>
		
    </flow>
</mule>
