MuleSoft/Combined/nd_financial/src/main/mule/listpendingapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <http:listener-config name="listpendingapi-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8007" />
    </http:listener-config>
    <apikit:config name="listpendingapi-config" raml="listpendingapi.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
	<http:request-config name="HTTP_Request_configuration_getCreditScore" doc:name="HTTP Request configuration" doc:id="06657dd0-5f49-4b8e-9bc0-e375de324985" >
		<http:request-connection host="localhost" port="8005" />
	</http:request-config>
	<http:request-config name="HTTP_Request_configuration_getUserId" doc:name="HTTP Request configuration" doc:id="7cc43ebe-a1a6-4560-a176-9e741340f7c5" >
		<http:request-connection host="localhost" port="8018" />
	</http:request-config>
	<http:request-config name="HTTP_Request_configuration_getName" doc:name="HTTP Request configuration" doc:id="c129675d-f651-471e-b1c5-cd267282e392" >
		<http:request-connection host="localhost" port="8001" />
	</http:request-config>
	<http:request-config name="HTTP_Request_configuration_riskLevel" doc:name="HTTP Request configuration" doc:id="f181ba3e-9c63-44b2-a125-c864bad75523" >
		<http:request-connection host="localhost" port="8013" />
	</http:request-config>
	<http:request-config name="HTTP_Request_configuration_getLoanAmount" doc:name="HTTP Request configuration" doc:id="0b660d7a-ff05-4720-b435-688f7adb0f2f" >
		<http:request-connection host="localhost" port="8008" />
	</http:request-config>
	<http:request-config name="HTTP_Request_configuration_GetDebt" doc:name="HTTP Request configuration" doc:id="988188af-e8ac-44cd-bc26-edfb3728e018" >
		<http:request-connection host="localhost" port="8004" />
	</http:request-config>
	<flow name="listpendingapi-main">
        <http:listener config-ref="listpendingapi-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="listpendingapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="listpendingapi-console">
        <http:listener config-ref="listpendingapi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="listpendingapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd 
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="3b4e9dee-b1ea-4d41-892f-13a445a27f7f">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\manager\listPendingApp:listpendingapi-config">
		<http:request method="GET" doc:name="Request" doc:id="683629c7-d7cf-4773-8603-73b2aa2ca201" config-ref="HTTP_Request_configuration_getUserId" url="http://localhost:8018/api/getPending"/>
		<set-variable value="#[payload.uid]" doc:name="userId" doc:id="16b8c7a8-9251-42a8-928f-25a5c377055c" variableName="vUserId"/>
		<set-variable value="#[payload.loanAmount as Number]" doc:name="loanAmount" doc:id="5fecf1e2-3ea0-4064-b5f6-766e2588f798" variableName="vLoanAmount"/>
		<set-variable value="#[payload.income as Number]" doc:name="income" doc:id="9137e66a-4035-47f9-b1b7-6606f4d07184" variableName="vIncome"/>
		<http:request method="GET" doc:name="Request Name" doc:id="954c3b13-1270-4352-a827-ada3ced0730b" config-ref="HTTP_Request_configuration_getName" url="http://localhost:8001/api/{id}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	id : vars.vUserId
}]]]></http:uri-params>
		</http:request>
		<set-variable value="#[payload.name]" doc:name="User Name" doc:id="715d8834-5f4f-48a4-9b45-407f872f680e" variableName="vUserName"/>
		<http:request method="GET" doc:name="Request_getCreditScore" doc:id="4969eff9-66ff-45c9-9047-0d5599a138ce" config-ref="HTTP_Request_configuration_getUserId" url="http://localhost:8005/api/getCreditScore?customer-id={id}">
			<http:query-params ><![CDATA[#[output application/java
---
{
	id : vUserId
}]]]></http:query-params>
		</http:request>
		<set-variable value="#[payload.credit_score as Number]" doc:name="Credit Score" doc:id="851b0e3e-0cae-40d7-90f2-1dfaaf021eaf" variableName="vCreditScore"/>
		<http:request method="POST" doc:name="Get Risk Level" doc:id="60651ab6-9e32-41dc-89f5-f26217e3e3aa" config-ref="HTTP_Request_configuration_riskLevel" url="http://localhost:8013/api/risk">
			<http:body ><![CDATA[#[{
  "borrower": {
    "credit-score": vCreditScore,
    "loan-amt": vLoanAmount,
    "loan-dur": 24,
    "curr-income": vIncome
  }
}]]]></http:body>
		</http:request>
		<set-variable value="#[payload.risk-level as Number]" doc:name="Risk Level" doc:id="dced4d7c-ccd7-46c9-a7e3-3bf044fa8c3a" variableName="vRisk"/>
		<http:request method="GET" doc:name="Request_Debt" doc:id="5c74ab53-796d-48e8-9774-87633ee16210" config-ref="HTTP_Request_configuration_GetDebt" url="http://localhost:8004/api/getcreditcards/{id}"/>
		<set-variable value="#[payload.balance as Number]" doc:name="Debt" doc:id="9505801d-d49d-48d2-88b1-9af848ad6bae" variableName="vDebt"/>
		<http:request method="POST" doc:name="Request_Max_LoanAmout" doc:id="48eb491f-5e48-4509-bf9f-6a85f6e1f530" config-ref="HTTP_Request_configuration_getLoanAmount" url="http://localhost:8008/api/dtir">
			<http:body ><![CDATA[#[{
	"applicant-info": {
		"salary": vars.vIncome,
		"debt": vars.vDebt
	}
}]]]></http:body>
		</http:request>
		<set-variable value="#[payload.loan-amount as Number]" doc:name="Max Loan Amount" doc:id="d11f8774-d37e-44aa-a8f9-0a49407c2f2b" variableName="vMaxLoan"/>
		<set-variable value="5" doc:name="test" doc:id="3f8f3f37-07d0-477a-bd05-2a2fac290584" variableName="vFive"/>
		<ee:transform doc:name="Transform Message" doc:id="7aa126db-1e87-4daf-9849-c3356ff0c21d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	loan_id: payload.LOAN_ID default "",
	income: payload.INCOME default "",
	debts: payload.DEBTS default "",
	status: payload.STATUS default ""
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" message="get:\manager\listPendingApp:listpendingapi-config" />
    </flow>
    <flow name="post:\manager\getPendingAppById\id\(id):listpendingapi-config">
        <logger level="INFO" message="post:\manager\getPendingAppById\id\(id):listpendingapi-config" />
		<db:select doc:name="Select" doc:id="ccf13c44-79f0-4ff8-bb58-3a4b50ea2246" config-ref="Database_manager">
			<db:sql >select * from loanapp where loan_id = :id</db:sql>
			<db:input-parameters ><![CDATA[#[%dw 2.0
output application/java
---
{
   id: attributes.uriParams.id
}]]]></db:input-parameters>
		</db:select>
        <ee:transform doc:name="Transform Message" doc:id="0042cc70-a2e2-4525-a699-254fccf89bbd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
</mule>
