MuleSoft/Combined/nd_financial/src/main/mule/rewards.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <http:listener-config name="rewards-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8011" />
    </http:listener-config>
    <apikit:config name="rewards-config" raml="rewards.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
  
	<http:request-config name="HTTP_Request_configuration2" doc:name="HTTP Request configuration" doc:id="fadb8e55-2c10-4683-9346-59a1255ef9d4" >
		<http:request-connection host="localhost" port="8011" />
	</http:request-config>
	
	
	<flow name="rewards-main">
        <http:listener config-ref="rewards-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="rewards-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="rewards-console">
        <http:listener config-ref="rewards-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="rewards-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\rewards:application\json:rewards-config">
		<logger level="INFO" message="put:\rewards:application\json:rewards-config" />
		<db:update doc:name="Update" doc:id="7d84a3f1-b3e5-498d-a906-cd925fe612ba" config-ref="Database_ndadmin">
			<db:sql >UPDATE credit_cards SET rewards = :rewards WHERE card_number = :cc</db:sql>
			<db:input-parameters ><![CDATA[#[{rewards : payload.reward, cc : payload.cardNumber}]]]></db:input-parameters>
		</db:update>
    </flow>
    <flow name="get:\rewards\(userID):rewards-config">
        <db:select doc:name="Select" doc:id="8e097c73-fc34-4c16-a229-f7a92d2bf0a0" config-ref="Database_ndadmin">
			<db:sql >SELECT * FROM credit_cards WHERE user_id = :id</db:sql>
			<db:input-parameters ><![CDATA[#[{id : message.attributes.uriParams.userID}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="665e835f-f682-4def-9e30-e4bbcaa4fc1b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	cardNumber: payload.CARD_NUMBER,
	reward: payload.REWARDS default 0
}

]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <http:request-config name="HTTP_Request_configuration3" doc:name="HTTP Request configuration" doc:id="b2daac4b-8e75-44ce-a73c-6719f89bc5af">
		<http:request-connection host="localhost" port="8010" />
	</http:request-config>
	<flow name="post:\rewards\payment:application\json:rewards-config">
        <logger level="INFO" message="post:\rewards\payment:application\json:rewards-config" />
		<set-variable value="#[payload.cardNumber]" doc:name="Set CC" doc:id="549d9b3e-ea95-4701-86a3-9ad00db4c89f" variableName="accountNum"/>
		<http:request method="POST" doc:name="Request" doc:id="1f2bc2d0-0533-43f4-96d5-c3147df4266f" config-ref="HTTP_Request_configuration2" path="/api/rewards" sendCorrelationId="ALWAYS">
			<http:body ><![CDATA[#[{
	"cardNumber" : payload.cardNumber
}]]]></http:body>
		</http:request>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="dd861f4c-816d-4864-ac46-f64da35f96c9" />
		<logger level="INFO" doc:name="Logger" doc:id="4b396e84-df0e-4b70-8f7b-ec528cb7d0a7" message="#[payload]"/>
		<http:request method="POST" doc:name="Request" doc:id="cecd0620-6306-4095-88d8-71110f198fbb" path="/api/payment" config-ref="HTTP_Request_configuration3">
			<http:body ><![CDATA[#[{
	"date" : "2018-11-16",
	"amount" : payload.reward[0],
	"cardnumber" : payload.cardNumber[0],
	"source" : "rewards",
	"description" : "Payment from rewards",
	"status" : "approved",
	"Type" : "payment"
}]]]></http:body>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="eec9b35e-3573-4b05-9cee-15da5d78c5af" message="Payment Applied"/>
		<http:request method="PUT" doc:name="Request" doc:id="446415ee-d4d2-4890-89c8-a2b497fa9a78" path="/api/rewards" config-ref="HTTP_Request_configuration4">
			<http:body ><![CDATA[#[{
	"cardNumber": vars.accountNum,
	"reward": 0
}]]]></http:body>
		</http:request>
    </flow>
    <http:request-config name="HTTP_Request_configuration4" doc:name="HTTP Request configuration" doc:id="fc2465e0-69d1-4c45-a2bd-15312c8db3c4">
		<http:request-connection host="localhost" port="8011" />
	</http:request-config>
	<flow name="post:\rewards:application\json:rewards-config">
        <set-variable value="#[payload]" doc:name="Set Variable" doc:id="ca047ebb-eeea-41c1-9ca3-78a0992ede21" variableName="payload"/>
		<logger level="INFO" doc:name="Logger" doc:id="b380b8d0-f837-479a-8c51-7c86f79ccaaf" message="#[vars.payload]"/>
		<db:select doc:name="Select" doc:id="58de2f41-18fd-479e-bb35-9fee1a82dfa8" config-ref="Database_ndadmin">
			<db:sql >SELECT * FROM credit_cards WHERE card_number = :cc</db:sql>
			<db:input-parameters ><![CDATA[#[{cc : payload.cardNumber}]]]></db:input-parameters>
		</db:select>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd 
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="b4c1f7ec-fe58-4cb0-8bb8-44b5b882bf0a">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	cardNumber: payload.CARD_NUMBER,
	reward: payload.REWARDS default 0
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
