MuleSoft/Combined/nd_financial/src/main/mule/riskrec.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <http:listener-config name="riskrec-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8013" />
    </http:listener-config>
    <apikit:config name="riskrec-config" raml="riskrec.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="riskrec-main">
        <http:listener config-ref="riskrec-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="riskrec-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="3c7c64bf-d914-4f2d-b7b9-c5a4638e45b4">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="9834bab6-1ecd-4863-bbc8-bfc1d15976a8">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[415]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="64d13d93-6267-41b7-9feb-ad502dd0c8d0">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[501]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="riskrec-console">
        <http:listener config-ref="riskrec-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="riskrec-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
	<flow name="post:\risk:application\json:riskrec-config">
        <logger level="INFO" message="post:\risk:application\json:riskrec-config" />
		<set-variable value='#[payload.borrower."loan-amt"]' doc:name="LoanAmt" doc:id="f4fa7312-a8de-49e0-b987-0d99789823cb" variableName="vLoanAmt" />
		<set-variable value='#[payload.borrower."loan-dur"]' doc:name="LoanDuration" doc:id="ecbca764-147a-40f3-8f45-5cfeb191dd5e" variableName="vLoanDur" />
		<set-variable doc:name="LoanPerMonth" doc:id="4778c201-c6d3-4fff-bc26-e3ec89e53f5c" variableName="vLoanPerMonth" value="#[(vars.vLoanAmt) / (vars.vLoanDur)]"/>
		<set-variable value="#[12]" doc:name="Months" doc:id="a54d86bf-8ba9-4b9c-9c6a-7c35a9db1fdf" variableName="vMonths"/>
		<set-variable value='#[payload.borrower."curr-income"]' doc:name="CurrentIncome" doc:id="3df646a4-a3a7-4a45-99fb-d0962c8ba761" variableName="vCurrIncome" />
		<set-variable value="#[output application/java
---
vars.vCurrIncome / vars.vMonths]" doc:name="MonthlyIncome" doc:id="6cf6a32b-3805-4503-9c6e-67e29dfc3eca" variableName="vMonthlyIncome"/>
		<set-variable value="#[output application/java
---
vars.vLoanPerMonth / vars.vMonthlyIncome]" doc:name="DebtPercent" doc:id="2ed66f0a-8b33-47e1-8571-5d935e819414" variableName="vDebtPer"/>
		<set-variable value='#[payload.borrower."credit-score"]' doc:name="CreditScore" doc:id="c4b3b4fe-f420-41a7-94b4-2c17ceeefe9b" variableName="vScore" />
		<set-variable value="#[output application/java
---
vars.vScore / vars.vDebtPer]" doc:name="Rough Number" doc:id="c0c1b6bb-3923-40c7-b51e-ecd2ec530175" variableName="vRough"/>
		<choice doc:name="Choice" doc:id="fb3961f7-e24c-41fa-8c22-df03c74e1ad6">
			<when expression="#[vars.vRough &gt; 400]">
				<set-variable value="#[1]" doc:name="RiskFactor" doc:id="581f5aa8-aa37-4c7a-8344-e7a9376b4128" variableName="vRiskFactor" />
			</when>
			<when expression="#[vars.vRough &gt; 250]">
				<set-variable value="#[2]" doc:name="RiskFactor" doc:id="9aa7221a-2917-4062-8682-5cfc7c818ded" variableName="vRiskFactor"/>
			</when>
			<when expression="#[vars.vRough &gt; 225]">
				<set-variable value="#[3]" doc:name="RiskFactor" doc:id="bb5bc127-1886-4838-b64a-cbe4f2093b1a" variableName="vRiskFactor"/>
			</when>
			<when expression="#[vars.vRough &gt; 180]" >
				<set-variable value="#[4]" doc:name="RiskFactor" doc:id="65cce4e5-2ecb-455e-ad7c-7d3ce8e571e9" variableName="vRiskFactor" />
			</when>
			<otherwise >
				<set-variable value="#[5]" doc:name="RiskFactor" doc:id="8371c745-8522-4f00-a67d-4b92844c0eaf" variableName="vRiskFactor"/>
			</otherwise>
		</choice>
		<ee:transform doc:name="Transform Message" doc:id="f1b9f558-7a9e-4143-b0c5-7cbc5a4bb597" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	riskfactor : vars.vRiskFactor as Number
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
</mule>
