MuleSoft/Combined/nd_financial/src/main/mule/user.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <apikit:config name="user-config" raml="user.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="user-main">
        <http:listener path="/user/*" config-ref="listener_8001">
            <http:response statusCode="#[vars.httpStatus default 200]">
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="user-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="user-console">
        <http:listener path="/user/console/*" config-ref="listener_8001">
            <http:response statusCode="#[vars.httpStatus default 200]">
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="user-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\(userId):application\json:user-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" doc:id="259bc34f-daf4-48b5-abcc-ab6f80b8a43a">
            <ee:variables>
                <ee:set-variable variableName="userId"><![CDATA[attributes.uriParams.userId]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <db:update doc:name="Update" doc:id="f1771bbf-ff91-4b57-970e-fb065fbeeb44" config-ref="Database_glen">
			<db:sql >update app_user set 

'id' = :id,
'gender' = :gender,
'phone' = :phone,
'occupation' = :occupation,
'ethnicity' = :ethnicity,
'address' = :address,
'salary' = :salary,
'username' = :username,
'dob' = :dob,
'email' = :email,
'name' = :name,
'password' =:password

 where id = :id</db:sql>
			<db:input-parameters ><![CDATA[#[{
		'id' : vars.userId,
		'gender': payload.gender,
		'phone': payload.phone,
		'occupation': payload.occupation,
		'ethnicity': payload.ethnicity,
		'address': payload.address,
		'salary': payload.salary,
		'username': payload.username,
		'dob': payload.dob,
		'email': payload.email,
		'name': payload.name,
		'password':payload.password
	}]]]></db:input-parameters>
		</db:update>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="c8369853-2f5a-4fff-a63a-4af53d339840">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\:user-config">
        <db:select doc:name="Select" doc:id="1ddef771-2866-4bfd-a23f-6e6fb513ff2e" config-ref="Database_glen">
			<db:sql >select * from app_user</db:sql>
		</db:select>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="63d9ca0d-f4cd-4d96-a2a7-07cba432b281">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\login\(name):user-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" doc:id="1155aa8d-9042-466d-83d0-ba474debe460">
            <ee:variables>
                <ee:set-variable variableName="name"><![CDATA[attributes.uriParams.name]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <db:select doc:name="Select" doc:id="e55e9905-e1d7-4da8-8499-593ee7f659b1" config-ref="Database_glen">
			<db:sql >select * from app_user where username = :username</db:sql>
			<db:input-parameters ><![CDATA[#[{
	'username': vars.name
}]]]></db:input-parameters>
		</db:select>
		<choice doc:name="Choice" doc:id="edeae2f3-dffa-4d65-a53d-291f94cbb8a0" >
			<when expression="#[payload[0].USERNAME != null]" >
				<set-payload value='{"message": "okay"}' doc:name="Set Payload" doc:id="701e6df2-b095-4861-a7f6-d633a2983733" />
			</when>
			<otherwise >
				<set-payload value='{"message":"failed"}' doc:name="Set Payload" doc:id="6fc4df4b-50d8-4a53-8106-7a94aac8d6c3" />
			</otherwise>
		</choice>
    </flow>
    <flow name="get:\(userId):user-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" doc:id="a0e720ed-182a-4798-b2f3-2ce05ba51d86">
            <ee:variables>
                <ee:set-variable variableName="userId"><![CDATA[attributes.uriParams.userId]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <db:select doc:name="Select" doc:id="7611b14f-648d-46f4-94c4-e5a1f32c6199" config-ref="Database_glen">
			<db:sql >select * from app_user where id = :id</db:sql>
			<db:input-parameters ><![CDATA[#[{
	'id':vars.userId
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="fa9cea22-9562-4ec6-bf10-48233fa2d840" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="post:\:application\json:user-config">
        <ee:transform doc:name="Transform Message" doc:id="3ef4c78c-4bdd-4607-b751-6c15ecff5641" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="id" ><![CDATA[%dw 2.0
output application/json
---
uuid()]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<db:insert doc:name="Insert" doc:id="cd8a9d77-adfe-4caf-a304-9524fc6d7f21" config-ref="Database_glen">
			<db:sql >insert into app_user 
           (id, gender, phone,occupation, ethnicity, address,salary, username, dob, email, name,active,password)
values(:id,:gender,:phone,:occupation,:ethnicity,:address,:salary,:username,:dob,:email,:name, 1,      :password)</db:sql>
			<db:input-parameters ><![CDATA[#[{
		'id' : vars.id,
		'gender': payload.gender,
		'phone': payload.phone,
		'occupation': payload.occupation,
		'ethnicity': payload.ethnicity,
		'address': payload.address,
		'salary': payload.salary,
		'username': payload.username,
		'dob': payload.dob,
		'email': payload.email,
		'name': payload.name,
		'password':payload.password,
	}]]]></db:input-parameters>
		</db:insert>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="e699899c-11fc-4800-98dd-7923402fd408">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: vars.id
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\login:application\json:user-config">
		<ee:transform doc:name="Transform Message" doc:id="5d8acb9c-cc50-4b44-af93-815c84a40f6c" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="login" ><![CDATA[{
	username:payload.username,
	password:payload.password
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<db:select doc:name="Select" doc:id="d14bb4a5-8d65-4fea-ad35-47692461710d" config-ref="Database_glen">
			<db:sql >select * from app_user where password = :password and username = :username</db:sql>
			<db:input-parameters ><![CDATA[#[{
	'username': payload.username,
	'password': payload.password
}]]]></db:input-parameters>
		</db:select>
		<choice doc:name="Choice" doc:id="d9f0dfd2-5ff9-4d5e-bf44-21af22b174d9" >
			<when expression="#[payload[0].USERNAME == vars.login.username and payload[0].PASSWORD == vars.login.password]">
				<set-payload value='{"message": "okay"}' doc:name="Set Payload" doc:id="b2b07179-1f6e-44a0-964e-78674ddfd5e1" />
			</when>
			<otherwise >
				<set-payload value='{"message":"failed"}' doc:name="Set Payload" doc:id="f3e37710-83a1-4bca-8f51-7ee577e7eed2" />
			</otherwise>
		</choice>
    </flow>
</mule>
