MuleSoft/Combined/nd_financial/src/main/mule/vendorpayments.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:java="http://www.mulesoft.org/schema/mule/java" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd">
    <http:listener-config name="vendorpayments-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8015" />
    </http:listener-config>
    <apikit:config name="vendorpayments-config" raml="vendorpayments.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
  
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="c4d0e157-0320-4132-b5f9-3fc28cda0681" >
		<http:request-connection host="localhost" port="8082" />
	</http:request-config>
	<flow name="vendorpayments-main">
        <http:listener config-ref="vendorpayments-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="vendorpayments-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="vendorpayments-console">
        <http:listener config-ref="vendorpayments-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="vendorpayments-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd 
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\vendorPayments:vendorpayments-config">
		<set-variable value="a12" doc:name="Set Variable" doc:id="113d8a5a-abb2-4f3f-9ae1-cdb1de9bf59a" variableName="id"/>
		<set-variable value="complete" doc:name="Set Variable" doc:id="8f26fd9e-29e4-4832-a2d8-1d7a55fbd38a" variableName="Stats"/>
		<logger level="INFO" message="in the Put" />
		<db:update doc:name="Update" doc:id="e5bf3af6-c3a8-4b5a-b2f2-460bc09c70d3" config-ref="Database_ndadmin">
			<db:sql >update transactions set status = :stats where TRANSACTION_ID = :id</db:sql>
			<db:input-parameters ><![CDATA[#[{stats : vars.Stats, id : vars.id }]]]></db:input-parameters>
		</db:update>
    </flow>
    <flow name="get:\vendorPayments:vendorpayments-config">
        <set-variable value="1111 1111 1111 1111" doc:name="Set Variable" doc:id="9a44ee6e-ad2c-4818-9922-52d3edfe45ce" variableName="CardNumber"/>
		<logger level="INFO" message="in the get" />
		<db:select doc:name="Select" doc:id="21dd23a2-4237-4b39-97d6-7a12f744dac5" config-ref="Database_ndadmin">
			<db:sql >select * from transactions where card_number = :cc</db:sql>
			<db:input-parameters ><![CDATA[#[{ cc : vars.CardNumber }]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="60cfbcad-bbff-412c-8a95-73fd000bd156" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="post:\vendorPayments:vendorpayments-config">
		<logger level="INFO" message="#[payload.CARD_NUMBER]]" />
		<set-variable value="#[payload]" doc:name="Set Variable" doc:id="3c2ca140-7481-4c21-8b35-1d1d9f8c3bff" variableName="FirstPayload"/>
		<set-variable value="#[payload.AMOUNT]" doc:name="Set Variable" doc:id="1be4b2d8-6405-4de2-81a9-d2301b2d0ede" variableName="amount"/>
		<db:select doc:name="Select" doc:id="7f7b0b71-9344-4489-8d5f-babd4caf6cf1" config-ref="Database_ndadmin">
			<db:sql >select credit_line - balance as total from credit_cards where card_number = :number</db:sql>
			<db:input-parameters ><![CDATA[#[{ number : payload.CARD_NUMBER }]]]></db:input-parameters>
		</db:select>
		<logger level="INFO" doc:name="Logger" doc:id="cbdc9a4e-6201-4498-8cb6-368b79560c65" message="#[payload.TOTAL]"/>
		<choice doc:name="Choice" doc:id="319a7d95-aadc-4ab5-8ea1-440cf474d72f" >
			<when expression="#[vars.amount &lt;= payload.TOTAL[0]]">
				<set-payload value="#[vars.FirstPayload]" doc:name="Set Payload" doc:id="0cd0b5cb-69e8-4d8d-aabe-22d98a03bac1" />
				<db:insert doc:name="Insert" doc:id="50ab8ced-7746-4c2a-b7f9-586d6e5c72bc" config-ref="Database_ndadmin">
			<db:sql>insert into transactions values (:id, :date, :amount, :card_number, :trans_source, :trans_description, :status, :trans_type)

</db:sql>
			<db:input-parameters><![CDATA[#[{
	id : payload.TRANSACTION_ID, 
	date : payload.TRANSACTION_DATE as Date,
	amount : payload.AMOUNT as Number,
	card_number : payload.CARD_NUMBER,
	trans_source : payload.TRANS_SOURCE,
	trans_description : payload.TRANS_DESCRIPTION,
	status : payload.STATUS,
	trans_type : payload.TRANS_TYPE
}]]]></db:input-parameters>
		</db:insert>
				<http:request method="PUT" doc:name="Request" doc:id="ff3526b3-586c-4d59-98da-6a365dd9e293" config-ref="HTTP_Request_configuration" url="http://localhost:8004/api/creditcards/charge">
					<http:body ><![CDATA[#[{
  "cardNumber": vars.FirstPayload.CARD_NUMBER,
  "balance": vars.amount
}]]]></http:body>
				</http:request>
			</when>
			<otherwise >
				<set-payload value="Not enough funds" doc:name="Set Payload" doc:id="f979ad3e-1475-46e0-bd5b-2db6e62ae222" />
				<logger level="INFO" doc:name="Logger" doc:id="550baaa1-3207-43b5-b2a1-d643d90f104d" message="Payment declined"/>
			</otherwise>
		</choice>
    </flow>
</mule>
