Anypoint/Operations/target/classes/loans.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <http:listener-config name="loans-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8083" />
    </http:listener-config>
    <apikit:config name="loans-config" raml="loans.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <db:config name="Database_Config2" doc:name="Database Config" doc:id="f6d3310d-a9b9-4c7b-a83d-34060c5522aa">
        <db:oracle-connection host="192.168.56.105" user="ndadmin" password="password" instance="xe" />
    </db:config>
    <db:config name="Database_Config6" doc:name="Database Config" doc:id="68ba0835-3337-4f92-9a47-06a1167deac4">
        <db:oracle-connection host="192.168.56.105" user="ndadmin" password="password" instance="xe" />
    </db:config>
    <flow name="loans-main">
        <http:listener config-ref="loans-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="loans-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="loans-console">
        <http:listener config-ref="loans-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="loans-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation=" http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd  http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\loans\(userID):loans-config">
        <logger level="INFO" message="get:\loans\(userID):loans-config" />
        <db:select doc:name="Select All of User's Loans" doc:id="ad5a25b5-f8fa-440d-9ae2-70f79fe8b6e5" config-ref="Database_Config">
            <db:sql>select * from loans where user_id = :id</db:sql>
            <db:input-parameters><![CDATA[#[{
	id : attributes.uriParams.userID
}]]]></db:input-parameters>
        </db:select>
        <set-payload value="#[output application/json --- payload]" doc:name="Transform to JSON" doc:id="52ab9d22-effa-4a58-8388-6b43ca0e2812" />
    </flow>
    <flow name="post:\loans\(userID):application\json:loans-config">
        <set-variable value="#[%dw 2.0 output application/java --- payload.loanType as String]" doc:name="Set Loan Type" doc:id="6d14ceba-95b1-405c-b6d5-9fc3348619f7" variableName="loanType" />
        <set-variable value="#[%dw 2.0 output application/java --- payload.balance as Number]" doc:name="Set Balance" doc:id="78813a39-aaee-47bd-809b-b570067aeb16" variableName="balance" />
        <set-variable value="#[%dw 2.0 output application/java --- payload.interestRate as Number]" doc:name="Set Interest Rate" doc:id="f24102b7-49b6-4b09-99bb-14b79544121d" variableName="interestRate" />
        <set-variable value="#[%dw 2.0 output application/java --- payload.gracePeriodEndDate as Date]" doc:name="Set Grace Period" doc:id="986478ad-250a-4b2c-a818-64737180c1bc" variableName="gracePeriod" />
        <set-variable value="#[%dw 2.0 output application/java --- payload.principalBalance as Number]" doc:name="Set Principal Balance" doc:id="d0d6242f-bc15-4311-8f4f-b4205d0c4c8b" variableName="principalBalance" />
        <logger level="INFO" message="post:\loans\(userID):application\json:loans-config" />
        <db:insert doc:name="Insert New Loan" doc:id="1daec1ef-f207-4f05-910c-46afc32226b0" config-ref="Database_Config">
            <db:sql>insert into loans values (
    loan_sequence.nextval,
    :loanType,
    :balance,
    :userID,
    :interestRate,
    :gracePeriod,
    :principal
)</db:sql>
            <db:input-parameters><![CDATA[#[{
 	loanType : vars.loanType,
	balance : vars.balance,
	userID : attributes.uriParams.userID,
	interestRate : vars.interestRate,
	gracePeriod : vars.gracePeriod,
	principal : vars.principalBalance
}]]]></db:input-parameters>
        </db:insert>
    </flow>
    <flow name="get:\loans\(userID)\(loanID):loans-config">
        <logger level="INFO" message="get:\loans\(userID)\(loanID):loans-config" />
        <db:select doc:name="Select User Loan" doc:id="7556aa01-005b-4689-9140-91a4e72eacd8" config-ref="Database_Config">
            <db:sql>select * from loans where user_id = :userID and loan_id = :loanID</db:sql>
            <db:input-parameters><![CDATA[#[{
	userID : attributes.uriParams.userID,
	loanID : attributes.uriParams.loanID
}]]]></db:input-parameters>
        </db:select>
        <set-payload value="#[output application/json --- payload]" doc:name="Transform to JSON" doc:id="5dbea77e-8b34-4b77-bb19-2c10c2d4f640" />
    </flow>
    <flow name="put:\loans\applyInterest:application\json:loans-config">
        <logger level="INFO" message="put:\loans\applyInterest:application\json:loans-config" />
        <db:update doc:name="Apply Interest Rate" doc:id="ec07ebaa-f777-4343-a75f-44c06582ce51" config-ref="Database_Config6">
            <db:sql>update loans set balance = (balance * interest_rate) + balance where loan_id = :id</db:sql>
            <db:input-parameters><![CDATA[#[{
	id : payload.loanID
}]]]></db:input-parameters>
        </db:update>
    </flow>
    <flow name="put:\loans\(userID)\updateBalance:application\json:loans-config">
        <logger level="INFO" message="put:\loans\(userID)\updateBalance:application\json:loans-config" />
		<db:update doc:name="Update Balance" doc:id="09593e30-69d8-41e6-bd7f-03d7ac91c60e" config-ref="Database_Config">
            <db:sql>update loans set balance = balance - :newBalance where loan_id = :id</db:sql>
            <db:input-parameters><![CDATA[#[{
	newBalance : payload.balance as Number,
	id : payload.loanID as Number
}]]]></db:input-parameters>
        </db:update>
    </flow>
</mule>
