Anypoint/Operations/target/classes/vendorpayments.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:java="http://www.mulesoft.org/schema/mule/java" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd">
    <http:listener-config name="vendorpayments-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8086" />
    </http:listener-config>
    <apikit:config name="vendorpayments-config" raml="vendorpayments.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <db:config name="Database_Config5" doc:name="Database Config" doc:id="dc7ea54c-381b-45a7-9bf2-8e51991ece27" >
		<db:oracle-connection host="192.168.56.105" user="ndadmin" password="password" instance="xe" />
	</db:config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="665fa24e-8f44-47a5-9dba-fbe3c08de53f" >
		<http:request-connection host="localhost" port="8082" />
	</http:request-config>
	<flow name="vendorpayments-main">
        <http:listener config-ref="vendorpayments-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="vendorpayments-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="vendorpayments-console">
        <http:listener config-ref="vendorpayments-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="vendorpayments-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd 
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\vendorPayments:vendorpayments-config">
		<set-variable value="a12" doc:name="Set Variable" doc:id="60d520ea-8d9a-4b69-8b30-233e94ab5985" variableName="id"/>
		<set-variable value="complete" doc:name="Set Variable" doc:id="6480c8b7-584a-44fc-8f64-075cffe27854" variableName="Stats"/>
		<logger level="INFO" message="in the Put" />
		<db:update doc:name="Update" doc:id="2d09afba-c1de-4920-9ea8-ae34793e2738" config-ref="Database_Config">
			<db:sql >update transactions set status = :stats where TRANSACTION_ID = :id</db:sql>
			<db:input-parameters ><![CDATA[#[{stats : vars.Stats, id : vars.id }]]]></db:input-parameters>
		</db:update>
    </flow>
    <flow name="get:\vendorPayments:vendorpayments-config">
        <set-variable value="1111 1111 1111 1111" doc:name="Set Variable" doc:id="d9c6a58c-8f8a-4076-8408-ff461b1bc3e2" variableName="CardNumber"/>
		<logger level="INFO" message="in the get" />
		<db:select doc:name="Select" doc:id="b0d18b97-f22a-429d-a730-0d81d15bfae9" config-ref="Database_Config">
			<db:sql >select * from transactions where card_number = :cc</db:sql>
			<db:input-parameters ><![CDATA[#[{ cc : vars.CardNumber }]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="3674b65a-4df6-4408-8d5c-ac4ef6682a05" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="post:\vendorPayments:vendorpayments-config">
		<logger level="INFO" message="#[payload.CARD_NUMBER]]" />
		<set-variable value="#[payload]" doc:name="Set Variable" doc:id="6d9a1c18-80ed-43a8-9d49-114bce34f5b9" variableName="FirstPayload"/>
		<set-variable value="#[payload.AMOUNT]" doc:name="Set Variable" doc:id="b8049c90-ed1c-4791-b541-0591042f4da5" variableName="amount"/>
		<db:select doc:name="Select" doc:id="f97488e3-827b-4484-a049-db3c7dde8af0" config-ref="Database_Config">
			<db:sql >select credit_line - balance as total from credit_cards where card_number = :number</db:sql>
			<db:input-parameters ><![CDATA[#[{ number : payload.CARD_NUMBER }]]]></db:input-parameters>
		</db:select>
		<logger level="INFO" doc:name="Logger" doc:id="fcdf729d-7b26-4944-9d72-4cda3946c038" message="#[payload.TOTAL]"/>
		<choice doc:name="Choice" doc:id="6ff6bd0b-09b6-4188-8238-f3aa1b1190b1" >
			<when expression="#[vars.amount &lt;= payload.TOTAL[0]]">
				<set-payload value="#[vars.FirstPayload]" doc:name="Set Payload" doc:id="7324c581-14a3-4dbc-913f-f16aad5d8938" />
				<db:insert doc:name="Insert" doc:id="45c20d1b-6e52-4dd2-a1f6-7a5076037112" config-ref="Database_Config">
			<db:sql>insert into transactions values (:id, :date, :amount, :card_number, :trans_source, :trans_description, :status, :trans_type)

</db:sql>
			<db:input-parameters><![CDATA[#[{
	id : payload.TRANSACTION_ID, 
	date : payload.TRANSACTION_DATE as Date,
	amount : payload.AMOUNT as Number,
	card_number : payload.CARD_NUMBER,
	trans_source : payload.TRANS_SOURCE,
	trans_description : payload.TRANS_DESCRIPTION,
	status : payload.STATUS,
	trans_type : payload.TRANS_TYPE
}]]]></db:input-parameters>
		</db:insert>
				<http:request method="PUT" doc:name="Request" doc:id="ff298fdc-6b35-4f18-a15d-8badc484d408" config-ref="HTTP_Request_configuration" url="http://localhost:8082/api/creditcards/charge">
					<http:body ><![CDATA[#[{
  "cardNumber": vars.FirstPayload.CARD_NUMBER,
  "balance": vars.amount
}]]]></http:body>
				</http:request>
			</when>
			<otherwise >
				<set-payload value="Not enough funds" doc:name="Set Payload" doc:id="cdae6f4e-35ae-47ab-961f-f48362b2503d" />
				<logger level="INFO" doc:name="Logger" doc:id="5fae7c7d-f66c-43bc-9a54-d43efaa615b4" message="Payment declined"/>
			</otherwise>
		</choice>
    </flow>
</mule>
